[submodule "VanHocVP"]
	path = VanHocVP
	url = https://github.com/vanhocvp/notebook_AIGen2.git
[submodule "TueNguyen"]
	path = TueNguyen
	url = https://github.com/tuenv2kProPTIT/AI.git
[submodule "HoaiLeBa"]
	path = HoaiLeBa
	url = https://github.com/hoaileba/AI-doc.git
[submodule "Hoaf13"]
	path = Hoaf13
	url = https://github.com/hoaf13/AI-documents.git
[submodule "Data Scientist Roadmap"]
	path = DoDo
	url = https://github.com/MrMimic/data-scientist-roadmap.git
